@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }
}

@layer utilities {
  .font-lato {
    font-family: "Lato", sans-serif;
  }

  .font-roboto {
    font-family: "Roboto", sans-serif;
  }

  .bg-home-hero {
    background-image: url('/images/hero-bg/hero-bg.jpg');
  }

  .bg-about-hero {
    background-image: url('/images/hero-bg/About-hero-bg.jpg');
  }

  .bg-destination-hero {
    background-image: url('/images/hero-bg/Destination-hero-bg.jpg');
  }

  .bg-travel-hero {
    background-image: url('/images/hero-bg/Travel-hero-bg.jpg');
  }

  .bg-contact-hero {
    background-image: url('/images/hero-bg/Contact-hero-bg.jpg');
  }

  .bg-dotted{
    background-image: url('/images/dotted-bg.png');
    background-size: cover;
  }
}


html,body,:root{
  height: 110%;
}


